:root {
  --body-color: #212121;
  --hero-color: #ffffff;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --first-btn-color: #2196f3;
  --hover-btn-color: #188ce8;
  --second-btn-color: #f5f4fa;
  --text-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --bacground-color: #2f303a;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --command-background-color: #f5f4fa;
  --size-to-line: 94px;
  --size-between: 30px;
  --size-top: 50px;
  --animation-type: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.link,
.logo {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--body-color);
}

.link,
.logo {
  color: var(--body-color);
}

.list {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background-color: var(--first-btn-color);
  -webkit-box-shadow: 0px 4px 4px var(--box-shadow-color);
          box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.button:hover, .button:focus {
  background-color: var(--hover-btn-color);
  border: none;
}

.modal-form {
  width: 448px;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--btn-color);
  border: none;
  padding: 0;
}

.modal-close__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.modal-close__link:hover, .modal-close__link:focus {
  fill: var(--hover-btn-color);
}

.modal-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__field-check {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-form__input,
.comment {
  outline: none;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.modal-form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;
  height: 40px;
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.comment {
  padding: 12px 16px;
  height: 120px;
  overflow: hidden;
}

.comment::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:focus {
  border-color: var(--accent-color);
}

.icon-form {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.modal-form__input:focus ~ .icon-form {
  fill: var(--accent-color);
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check__icon {
  display: inline-block;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.check__input:checked + .check__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.agreement a {
  color: var(--accent-color);
  padding-left: 4px;
}

.modal-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-submit__button {
  padding: 10px 55px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--size-top);
}

.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--second-btn-color);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.filter__button:hover, .filter__button:focus {
  color: var(--btn-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.filter__button--active {
  color: var(--btn-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.exemples-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.exemples-card:hover, .exemples-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.exemples-card__content {
  padding: 20px 24px;
}

.exemples-card__thumb {
  position: relative;
  overflow: hidden;
}

.exemples-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.exemples-card:hover .exemples-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.exemples-card__backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-color);
  opacity: 1;
}

.exemples-card__description {
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.exemples-card__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.footer-social__form {
  margin-top: 12px;
  margin-left: 93px;
}

.footer-form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 16px 15px;
  color: var(--btn-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
}

.footer-form__input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  border: none;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__button__icon {
  margin-left: 10px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__logo {
  text-decoration: none;
  color: var(--body-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.page-header__logo--accent {
  color: var(--accent-color);
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  margin-left: 93px;
}

.site-nav__item:not(last-child) {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link,
.contacts__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.site-nav__link:hover, .site-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
}

.contacts__icon {
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.studio,
.portfolio {
  color: var(--accent-color);
}

.studio::after,
.portfolio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.hero {
  background-color: var(--bacground-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  margin-bottom: var(--size-between);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  padding: 10px 32px;
}

.overlay {
  display: block;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .container {
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--btn-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.feature {
  padding-top: var(--size-to-line);
  padding-bottom: var(--size-to-line);
}

.feature-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--size-between));
}

.feature-items__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-items__link {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-items__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.feature-items > .list {
  -ms-flex-preferred-size: calc(100% / 4 - var(--size-between));
      flex-basis: calc(100% / 4 - var(--size-between));
  margin-left: var(--size-between);
}

.directions {
  padding-bottom: var(--size-to-line);
}

.directions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--size-between));
}

.directions-list__item {
  -ms-flex-preferred-size: calc(100% / 3 - var(--size-between));
      flex-basis: calc(100% / 3 - var(--size-between));
  margin-left: var(--size-between);
}

.directions-card {
  position: relative;
}

.directions-card__title {
  position: absolute;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--command-background-color);
  padding-top: var(--size-to-line);
  padding-bottom: var(--size-to-line);
}

.team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--size-between));
  margin-top: var(--size-top);
}

.team-member__item {
  -ms-flex-preferred-size: calc(100% / 4 - var(--size-between));
      flex-basis: calc(100% / 4 - var(--size-between));
  margin-left: var(--size-between);
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-member__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-member__card {
  padding-top: var(--size-between);
  padding-bottom: var(--size-between);
}

.team-member__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team-member__social__icon {
  fill: currentColor;
}

.team-member__social__item + .team-member__social__item {
  margin-left: 10px;
}

.team-member__social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--btn-color);
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.team-member__social__link:hover, .team-member__social__link:focus {
  background-color: var(--accent-color);
  color: var(--btn-color);
}

.client-list {
  padding-top: var(--size-to-line);
  padding-bottom: var(--size-to-line);
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--size-between));
}

.client__item {
  -ms-flex-preferred-size: calc(100% / 6 - var(--size-between));
      flex-basis: calc(100% / 6 - var(--size-between));
  margin-left: var(--size-between);
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

.exemples__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: var(--size-top);
}

.filter__button {
  display: block;
  padding: 6px 22px;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.exemples {
  padding-top: var(--size-to-line);
  padding-bottom: var(--size-to-line);
}

.exemples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--size-between));
  margin-top: calc(-1 * var(--size-between));
}

.exemples-list__item {
  -ms-flex-preferred-size: calc(100% / 3 - var(--size-between));
      flex-basis: calc(100% / 3 - var(--size-between));
  margin-left: var(--size-between);
  margin-top: var(--size-between);
}

.footer-page {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  text-decoration: none;
  color: var(--body-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.footer__logo--accent {
  color: var(--accent-color);
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__item {
  margin-top: 9px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.41;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-social {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--btn-color);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--animation-duration);
          transition-duration: var(--animation-duration);
  -webkit-transition-timing-function: var(--animation-type);
          transition-timing-function: var(--animation-type);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */