.card-thumb {
  position: relative;

  overflow: hidden;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}
.card:hover .card-overlay {
  transform: translateY(0);
}
.card-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-color);
  opacity: 1;
}
