.command {
  background: var(--command-background-color);
  padding-top: var(--size-to-line);
  padding-bottom: var(--size-to-line);
}
.employees {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--size-between));
  margin-top: var(--size-top);
}
.employees > .list {
  flex-basis: calc(100% / 4 - var(--size-between));
  margin-left: var(--size-between);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
.item-name {
  padding-top: var(--size-between);
  padding-bottom: var(--size-between);
}
.employee-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.employee-social-item + .employee-social-item {
  margin-left: 10px;
}
.employee-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: var(--btn-color);
  border-radius: 50%;
  color: #afb1b8;

  transition-property: background-color, color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}
.employee-social-icon {
  fill: currentColor;
}
.employee-social-link:hover,
.employee-social-link:focus {
  background-color: var(--accent-color);
  color: var(--btn-color);
}
