// ---------------------footer-------------------
.footer-page {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  &__logo {
    text-decoration: none;
    color: var(--body-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: block;
    margin-bottom: 20px;

    &--accent {
      color: var(--accent-color);
    }
  }

  &-contacts__link {
    color: rgba(255, 255, 255, 0.6);
  }
  &-contacts__item {
    margin-top: 9px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.41;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-social {
  margin-top: 12px;
  margin-left: 70px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color);
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__icon {
    fill: currentColor;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--btn-color);

    transition-property: background-color, color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-type);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__item + &__item {
    margin-left: 10px;
  }
}
